{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "import", "security"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:security/recommended"
  ],
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "import/order": [
      "warn",
      {
        "newlines-between": "never",
        "alphabetize": {
          "caseInsensitive": true
        },
        "groups": ["builtin", ["external", "internal"], ["parent", "sibling"], "index", "object"]
      }
    ]
  }
}
